<h2>Test Result</h2>
<p> <%= @result%> / <%= @question_count %> </p>

<% if @failures.any? %>
<table class="table">
<thead>
  <th> Question:</th>
  <th> Your answer:</th>
  <th> Right answer: </th>
</thead>

  <% @failures.each do |fail|%>
  <tr>
    <td><%= fail[:question]%> </td>
    <td><%= fail[:user_answer]%> </td>
    <td> <%= fail[:right_answer] %> </td>
  </tr>
  <%end%>
</table>
<% end %>

<%= link_to 'Back to unit', unit_path(@unit.id), class:"btn btn-default" %>
