<h1>Editing Unit</h1>

<%= render 'form' %>

<%= render 'vocables/vocable', vocable: @unit.vocable  %>

<%= render 'vocables/form', unit_id: @unit.id %>

<%= link_to 'Show', @unit %> |
<%= link_to 'Back', units_path %>
