<h1>Editing Unit</h1>

<%= render 'form' %>

<%= render 'vocable', vocable: @unit.vocable  %>

<%= render 'vocableForm', unit_id: @unit.id%>
<%= link_to 'Show', @unit %> |
<%= link_to 'Back', units_path %>
