<p id="notice"><%= notice %></p>

<h1>
  <strong>Unit:</strong>
  <%= @unit.name %>
</h1>
<%= render 'vocables/vocable', vocable: @unit.vocable %>

<%= render 'quizzes/addQuiz', unit_id: @unit.id %>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
