<p id="notice"><%= notice %></p>

<h1>
  <strong>Unit:</strong>
  <%= @unit.name %>
</h1>
<%= render 'vocables/vocable', vocable: @unit.vocables %>


<%= link_to 'Back', units_path , class:"btn btn-default" %>
<%= link_to 'Edit', edit_unit_path(@unit), class: "btn btn-default pull-right" %>
